{% extends 'base-admin.html' %}

{% block content %}
<h1 class="h1 text-center py-4">Bienvenido, administrador: {{username}}</h1>
<div class="card m-5">
    <div class="container">
        <div class="card-body">
            <div class="row-lg">
                <div class="row mb-3">
                    <div class="col">
                        <a href="{% url 'formviajes' %}">
                            <button type="button" class="btn btn-outline-dark btn-lg w-100">Viajes</button>
                        </a>
                    </div>
                    <div class="col">
                        <a href="{% url 'formdestinos' %}">
                            <button type="button" class="btn btn-outline-dark btn-lg w-100">Destinos</button>
                        </a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <a href="{% url 'formusuarios' %}">
                            <button type="button" class="btn btn-outline-dark btn-lg w-100">Usuarios</button>
                        </a>
                    </div>
                    <div class="col">
                        <a href="{% url 'formcotizaciones' %}">
                            <button type="button" class="btn btn-outline-dark btn-lg w-100">Cotizaciones</button>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <a href="{% url 'formreservas' %}">
                        <button type="button" class="btn btn-outline-dark btn-lg w-100">Reservas</button>
                    </a>
                </div>
                <div class="row">
                    <a href="{% url 'formUsuarioUsername' %}">
                        <button type="button" class="btn btn-outline-dark btn-lg w-100">Editar Usuarios</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}