{% extends 'base.html' %}
        {% block content %}
        <h1 class="h1 text-center p-3">Bienvenido, {{username}}</h1>

        <div class="container flex-wrap">
            <div class="row">
                
                {% for viaje in viajes %}
                    <div class="col-sm-6 col-md-3">
                        <div class="card mb-3">
                            <div class="card-header">
                                {{viaje.titulo}}
                            </div>
                            <div class="card-body">
                                {{viaje.descripcion}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                    
            </div>
        </div>
        {% endblock content %}
