{% extends 'base.html' %}
        
        {% block content %}
        <h3>Lista de Viajes</h3>
        <div class="row">Viajes Reservados {{request.session.carrito_cantidad}}</div>
        <table class="table table-borderes table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for v in viajes %}
                <tr>
                    <td>{{v.id}}</td>
                    <td>{{v.titulo}}</td>
                    <td>{{v.descripcion}}</td>
                    <td>{{v.stock}}</td>
                    <td>{{v.precio}}</td>
                    <td>{{v.destino_id}}</td>
                    <td>
                        <a href="/viajes_reservados/{{v.id}}" class="btn btn-info">Reservar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock content %}
        <!-- Footer-->
        

