{% extends 'base.html' %}

{% block content %}
<div class="container p-4">
  <div class="card">
    <div class="card-header">
      <h2 class="h2">Inicio de sesión</h2>
    </div>
  <div class="card-body ">
    <form method="post" action="{% url 'inicio_sesion' %}">
      {% csrf_token %}
      <div class="row px-3 pb-3">
        <label class="form-label p-0" for="username">Nombre de Usuario:</label>
        <input class="form-control" type="text" id="username" name="username" required>
      </div>
      <div class="row px-3 pb-3">
        <label class="form-label p-0" for="id_contrasena">Contraseña:</label>
        <input class="form-control" type="password" id="contrasenna" name="contrasenna" required>
      </div> 
      <div class="row p-3 pb-1"><button type="submit" class="btn btn-lg btn-dark">Iniciar sesión</button></div>
    </form>
    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
  
  
    
