{% extends 'base.html' %}


{% block content %}
<div class="container p-4">
    <div class="card">
        <h1 class="card-header">Registro de Usuario</h1>
        <div class="card-body">
            <form method='post' action="{% url 'registro_usuario' %}">
                {% csrf_token %}
                <p style = "color: red;">{{error}}</p>
                <div class="row px-2 pb-2">
                    <label class="form-label p-0">Nombre de Usuario</label>
                    <input type="text" class="form-control" name="username" placeholder="Ingrese Nombre de Usuario"></label>
                </div>
                <div class="row px-2 pb-2">
                    <label class="form-label p-0" >Rut</label>
                    <input type="text" class="form-control" name="rut" placeholder="Ej: 12345678-9"></label>
                </div>
                <div class="row px-2 pb-2">
                    <label class="form-label p-0">Nombre</label>
                    <input type="text" class="form-control" name="nombre" placeholder="Ingrese su nombre "></label>
                </div>
                <div class="row px-2 pb-2">
                    <label class="form-label p-0">Apellido</label>
                    <input type="text" class="form-control" name="apellido" placeholder="Ingrese apellido"></label>
                </div>
                <div class="row px-2 pb-2">
                    <label class="form-label p-0">Contraseña</label>
                    <input type="password" class="form-control" name="contrasenna" placeholder="Ingrese contraseña"></label>
                </div>
                <div class="row px-2 pb-2">
                    <label class="form-label p-0">Confirmar Contraseña</label>
                    <input type="password" class="form-control" name="contrasenna2" placeholder="Confirme su contraseña"></label>
                </div>
                <div class="row px-2 pb-2">
                    <label class="form-label p-0">Correo Electrónico</label>
                    <input type="text" class="form-control" name="email" placeholder="email@example-com"></label>
                </div>
                <div class="row px-2 pb-2 p-3 pb-1"><button type="submit" class="btn btn-dark btn-lg">Registrarse</button></div>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
    